name: Build and Deploy
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: vuepress-deploy
      uses: jenkey2011/vuepress-deploy@master
      env:
        ACCESS_TOKEN: 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
        TARGET_REPO: bitwater/Pixltonian-Wiki
        TARGET_BRANCH: gh_pages
        BUILD_SCRIPT: yarn && yarn build
        BUILD_DIR: src/.vuepress/dist
        # CNAME: https://www.gooflife.com/Pixltonian-Wiki
